# Secure upload folder: Prevent script execution while permitting images
<FilesMatch "(?i)\.(php|php3|php4|php5|phtml|pl|py|cgi|sh|bash)$">
  Order allow,deny
  Deny from all
</FilesMatch>

Options -Indexes -ExecCGI
